/*
1.  Text
2.  Background
*/
/*
1.  Partials
  1.1 Header
*/
/*
1.  Waves
*/
.waves-effect.waves-blue .waves-ripple {
  background-color: rgba(0, 65, 191, 0.76); }

nav.header {
  background-color: #fff;
  border-bottom: 4px solid #939393; }
  nav.header:hover {
    background-color: white;
    border-bottom: 4px solid #1672b4; }

nav h4.header-title {
  color: #939393; }
  nav h4.header-title:hover {
    color: #1672b4; }

nav ul.headernav li:hover {
  background-color: #1672b4; }

nav ul.headernav a {
  color: #939393; }
  nav ul.headernav a:hover {
    background-color: rbga(#1672b4, 0.4);
    color: #e1e1e1;
    height: auto; }
