/*
1.  Text
2.  Background
3.  Header
*/
/*
1.  Constant Partials
  1.1  Header
2.  Body Partials
  2.1  Index
    (a)  Sidebars
*/
/*
1.  Waves
2.  Icons
*/
.waves-effect.waves-blue .waves-ripple {
  background-color: #2d8dd3; }

i.tinyIcon {
  font-size: 1.2em !important; }

nav {
  background-color: #fff; }
  nav .headerborder {
    height: 3px;
    width: 100%;
    background: #b9b9b9;
    transition: ease-in 0.3s; }
    nav .headerborder:hover {
      height: 3px;
      width: 100%;
      background: #6cafe0;
      transition: ease-in 0.3s; }
  nav h4.header-title {
    color: #939393; }
  nav h4 small.pagename {
    color: #b9b9b9; }
  nav h4:hover {
    color: #6cafe0; }
    nav h4:hover small.pagename {
      color: #6db5eb; }
  nav a {
    cursor: pointer; }
    nav a.sidebarBtn {
      color: #939393; }
      nav a.sidebarBtn:active {
        color: #6cafe0; }
  nav ul {
    margin-bottom: -3px; }
    nav ul.headernav a.headerA {
      vertical-align: top !important;
      color: #939393; }
      nav ul.headernav a.headerA:hover {
        background-color: #6cafe0;
        color: white;
        height: auto;
        transition: ease-in 0.3s; }
    nav ul.headernav img.userProfImg {
      border-radius: 23px;
      padding-top: calc((64px - 46px) / 2); }
    nav ul.side-nav h6.nav-header {
      padding: 15px 0 0 15px !important;
      margin: 0 !important;
      color: #939393; }
  nav:hover .headerborder {
    height: 3px;
    width: 100%;
    background: #6cafe0;
    transition: ease-in 0.3s; }

div.left-sb {
  text-align: left;
  padding: 10px 25px 0 25px;
  position: fixed;
  top: 67px;
  left: 0;
  bottom: 0;
  width: 270px;
  background: white;
  color: #6cafe0;
  box-shadow: inset -85px 0px 50px -90px #e9e9e9; }

div.right-sb {
  text-align: left;
  padding: 10px 25px 0 25px;
  position: fixed;
  top: 67px;
  right: 0;
  bottom: 0;
  width: 350px;
  background: white;
  color: #6cafe0;
  box-shadow: inset 85px 0px 50px -90px #e9e9e9; }
  div.right-sb div.card div.card-image span.card-title {
    color: #6cafe0;
    background-color: rgba(255, 255, 255, 0.4);
    border-right: 3px;
    padding: 1px; }
  div.right-sb div.card-reveal {
    overflow: hidden; }

.toggleRightSb {
  top: 50%;
  width: 150px;
  position: absolute;
  left: 0px;
  transform: rotate(270deg);
  -webkit-transform-origin: 0 109%; }

.toggleLeftSb {
  top: 50%;
  width: 150px;
  position: absolute;
  right: 0px;
  transform: rotate(90deg);
  -webkit-transform-origin: 0 109%; }
