/*
1.  Text
2.  Background
3.  Header
*/
/*
1.  Partials
  1.1 Header
*/
/*
1.  Waves
2.  Icons
3.  Side-nav
*/
.waves-effect.waves-blue .waves-ripple {
  background-color: #2d8dd3; }

i.tinyIcon {
  font-size: 1.2em !important; }

.side-nav {
  top: 67px !important; }

#sidenav-overlay {
  top: 67px !important; }

nav {
  background-color: #fff; }
  nav .headerborder {
    height: 3px;
    width: 100%;
    background: #b9b9b9;
    transition: ease-in 0.3s; }
    nav .headerborder:hover {
      height: 3px;
      width: 100%;
      background: #6cafe0;
      transition: ease-in 0.3s; }
  nav h4.header-title {
    color: #939393; }
  nav h4 small.pagename {
    color: #b9b9b9; }
  nav h4:hover {
    color: #6cafe0; }
    nav h4:hover small.pagename {
      color: #6db5eb; }
  nav a {
    cursor: pointer; }
    nav a.sidebarBtn {
      color: #939393; }
      nav a.sidebarBtn:active {
        color: #6cafe0; }
  nav ul {
    margin-bottom: -3px; }
    nav ul.headernav a.headerA {
      vertical-align: top !important;
      color: #939393; }
      nav ul.headernav a.headerA:hover {
        background-color: #6cafe0;
        color: white;
        height: auto;
        transition: ease-in 0.3s; }
    nav ul.headernav img.userProfImg {
      border-radius: 23px;
      padding-top: calc((64px - 46px) / 2); }
    nav ul.side-nav h6.nav-header {
      padding: 15px 0 0 15px !important;
      margin: 0 !important;
      color: #939393; }
  nav:hover .headerborder {
    height: 3px;
    width: 100%;
    background: #6cafe0;
    transition: ease-in 0.3s; }
