<div class="card card-desc">
    <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" id="partyside_customimage" src="https://pbs.twimg.com/media/Ca74zsMXEAAPkoO.png">
        <span class="activator card-title">Description</span>
    </div>
    <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">Description</span>
        <h6 id="partyside_descheader1">[custom subheader]</h6>
        <p id="partyside_descsub1">[...]</p>
        <h6 id="partyside_descheader2">[custom subheader]</h6>
        <p id="partyside_descsub2">[...]</p>
        <h6 id="partyside_descheader3">[custom subheader]</h6>
        <p id="partyside_descsub3">[...]</p>
    </div>
    <div class="card-action">
        <a href="#" id="partyside_guild">GO TO GUILD PAGE</a>
        <!-- link to lanturn prof if no page -->
    </div>
</div>
