<div class="card card-desc">
    <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="https://pbs.twimg.com/media/Ca74zsMXEAAPkoO.png">
        <span class="activator card-title">Description</span>
    </div>
    <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">Description<i class="material-icons right">close</i></span>
        <!-- create party will limit to 3 subheaders, header char limit 40, p char limit 140 char limit -->
        <h6 id="descSubHead1">[custom subheader]</h6>
        <p id="descPara1">[...]</p>
        <h6 id="descSubHead2">[custom subheader]</h6>
        <p id="descPara2">[...]</p>
        <h6 id="descSubHead3">[custom subheader]</h6>
        <p id="descPara3">[...]</p>
    </div>
    <div class="card-action">
        <a href="#" id="customURL">GO TO ORGANISATION PAGE</a> <!-- link to lanturn prof if no page -->
    </div>
</div>
