<div class="card card-gameinfo">
    <div class="card-image waves-effect waves-block waves-light">
        <!--<img class="activator" src="http://static.trustedreviews.com/94/00003790c/9d12/296e079a-568e-4c37-bb12-bb1cc731e0ab-34ZgP.jpg"> -->
        <span class="activator card-title" id="gameTitle-img">[gamename]</span>
    </div>
    <div class="card-reveal">
        <span class="card-title grey-text text-darken-4" id="gameTitle-card">[gamename]<i class="material-icons right">close</i></span>
        <h6>PARTY TYPE</h6>
        <p id="gameType">[type]</p>
        <h6>PRIZE POOL</h6>
        <p id="prizePool">[pool(if applicable)]</p>
        <h6>PLAYERS</h6>
        <p id="playersFraction">[x/y]</p>
        <div class="players-cardContainer" id="players-card">
          <div class="player">
            <img class="userProfImg-gameInfoCard rank1" src="/images/graphics/def_profile.png" />
            <span class="white-text userProfSpan-gameInfoCard online">[username]</span> <!-- add staus and rank clasess through js -->
          </div>
          <div class="player">
            <img class="userProfImg-gameInfoCard rank1" src="/images/graphics/def_profile.png" />
            <span class="white-text userProfSpan-gameInfoCard offline">[username]</span> <!-- add staus and rank clasess through js -->
          </div>
          <div class="player">
            <img class="userProfImg-gameInfoCard rank2" src="/images/graphics/def_profile.png" />
            <span class="white-text userProfSpan-gameInfoCard online">[username]</span> <!-- add staus and rank clasess through js -->
          </div>
          <div class="player">
            <img class="userProfImg-gameInfoCard rank3" src="/images/graphics/def_profile.png" />
            <span class="white-text userProfSpan-gameInfoCard online">[username]</span> <!-- add staus and rank clasess through js -->
          </div>
          <div class="player">
            <img class="userProfImg-gameInfoCard rank4" src="/images/graphics/def_profile.png" />
            <span class="white-text userProfSpan-gameInfoCard online">[username]</span> <!-- add staus and rank clasess through js -->
          </div>
        </div>
    </div>
    <div class="card-action">
        <a href="#" id="gameWebsite">GO TO OFFICIAL GAME SITE</a>
    </div>
</div>
