<nav class="header">
  <div class="nav-wrapper container">

    <a href="/"><img style="height: 56px; margin-top: 4px;" src="/images/graphics/txtlogosmall.png"<h4 href="#" class="brand-logo header-title"><small class="pagename">❘ {{pagename}}</small></h4></a>

    <ul class="headernav right hide-on-med-and-down">
        <li><a href="/#" class="waves-effect waves-blue headerA">Event Calendar</a></li>

        <li><a href="/#" class="waves-effect waves-blue headerA">Blog</a></li>
        <li><a href="/#" class="iconA"><i class="material-icons smallIcon">blur_on</i></a></li>

        {{#if user}}
				<li><a class="dropdown-button headerA" href="" data-activates="user-navbardropdown"><img class="left userProfImgHeader" src="/images/graphics/def_profile.png" /><i class="material-icons right">arrow_drop_down</i></a></li>
        {{else}}
            <li><a class="btn blue waves-effect waves-dark" href="/login">Login</a></li>
        {{/if}}
        <li><a href="/#" class="iconA"><i class="material-icons smallIcon">notifications</i></a></li>

    </ul>

    <ul class="side-nav" id="slide-out">
      <h6 class="nav-header">NAVIGATION</h6>
      <li><a href="/#" class="waves-effect waves-light blue-text">Event Calendar<i class="material-icons blue-text right tinyIcon">date_range</i></a></li>
    </ul>
    <a href="#" data-activates="slide-out" class="button-collapse sidebarBtn"><i class="material-icons smallIcon">menu</i></a>

  </div>

  <div class="headerborder"></div>
</nav>

<!-- Account Dropdown -->
<ul id="user-navbardropdown" class="dropdown-content">
		<li><a href="/#" class="waves-effect waves-light blue-text dropdownA">[username]lllllllllllllllllll</a></li>
    <li><a href="/#" class="waves-effect waves-light blue-text dropdownA">Teams</a></li>
		<li><a href="/#" class="waves-effect waves-light blue-text dropdownA">Settings</a></li>
		<li class="divider"></li>
		<li><a href="/#" class="waves-effect waves-light blue-text dropdownA">Logout</a></li>
    <li><a href="/#" class="waves-effect waves-light blue-text dropdownA">Support</a></li>
</ul>
