<nav class="header">
  <div class="nav-wrapper container">
    <a href="/"><h4 href="#" class="brand-logo header-title">LanPlan</h4></a>

    <ul class="headernav right hide-on-med-and-down">
        <li><a href="/#" class="waves-effect waves-blue">Login</a></li>
    </ul>
  </div>
</nav>
