<div class="card card-partyinfo">
    <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" id="partyside_mapimage" src="/images/graphics/partymap-holder.PNG">
        <span class="activator card-title" id="partyside_name">[partyname]</span>
    </div>
    <div class="card-reveal">
        <span class="card-title grey-text text-darken-4" id="partyside_name2">[partyname]</span>
        <h6>ADDRESS</h6>
        <p id="partyside_addressline1">[LINE 1 LOCKED]</p>
        <p id="partyside_addressline2">[LINE 2 LOCKED]</p>
        <p id="partyside_addresszip">[POST/ZIP CODE LOCKED]</p>
        <p id="partyside_addresscity">[city]</p>
        <h6>DATE / TIME</h6>
        <p id="partyside_datetime">[date] / [time]</p>
        <h6>HOST</h6>
        <p><a href="" id="partyside_host">@[username]</a></p>
    </div>
    <div class="card-action">
        <a class="btn blue waves-effect waves-dark" id="partyside_page">Request to join</a>
    </div>
</div>
