<div class="card card-partyinfo">
    <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="/images/graphics/partymap-holder.PNG">
        <span class="activator card-title" id="partyTitle-img">[partyname]</span>
    </div>
    <div class="card-reveal">
        <span class="card-title grey-text text-darken-4" id="partyTitle-card">[partyname]<i class="material-icons right">close</i></span>
        <h6>ADDRESS</h6>
        <p id="addressLine1">[LINE 1 LOCKED]</p>
        <p id="addressLine2">[LINE 2 LOCKED]</p>
        <p id="addressLine-postal">[POST/ZIP CODE LOCKED]</p>
        <p id="addressLine-city">[city]</p>
        <h6>DATE / TIME</h6>
        <p id="dateTime">[date] / [time]</p>
        <h6>HOST</h6>
        <p id="hostUsername"><a href="">@[username]</a></p>
    </div>
    <div class="card-action">
        <a href="#" id="partyPage">GO TO PARTY PAGE</a>
    </div>
</div>
