<div class="right-sb">
    <h6>PARTY INFORMATION</h6>
    <div class="right-sb-content">
      {{>partyInfoCard}}

      {{>gameInfoCard}}

      {{>descriptionCard}}
    </div>
    <a href="#" class="toggleRightSb btn blue white-text"><i class="material-icons white-text right tinyIcon">more_vert</i>PARTY INFO</a>
</div>
