nav {
	background-color: $headerBgColor;

	.headerborder {
		@include header($disabledBgColor, $headerBorderThickness);
		&:hover {
			@include header($primaryBgColor, $headerBorderThickness);
		}
	}

	h4 {
		&.header-title {
			color: $defaultColor;
			&:hover {
				color: $primaryColor;
			}
		}
	}

	ul {

		margin-bottom: -$headerBorderThickness;
		&.headernav {
			li {
				&:hover {
					background-color: $primaryBgColor;
				}
			}
			a {
				vertical-align: top !important;
				color: $defaultColor;
				&:hover {
					background-color: $primaryBgColor;
					color: $whiteColor;
					height: auto;
				}
			}
		}
	}

}

nav:hover{
	.headerborder{
		@include header($primaryBgColor, $headerBorderThickness);
	}
}
