//  TABLE OF CONTENTS
/*
1.  Partials
  1.1 Header
*/

//1
//1.1
@mixin header($borderColor, $borderThickness) {
  height: $borderThickness;
  width: 100%;

  background: $borderColor;
  transition: ease-in 0.3s;
}
