div {
  &.left-sb {
    @include sidebar(left, 15px 15px 60px 15px, 0, null, 270px, $defaultBgColor, $primaryColor, inset -85px 0px 50px -90px $defaultShadowColor);
  }

  &.right-sb {
    @include sidebar(left, 15px 15px 60px 15px, null, 0, 350px, $defaultBgColor, $primaryColor, inset 85px 0px 50px -90px $defaultShadowColor);

    div.card div.card-image {
      span {
        &.card-title {
          color: $primaryColor;
          padding: 1px !important;
          margin-left: 20px;
        }
      }
    }

    div {
      &.right-sb-content {
        height: 100%;
        overflow-y: scroll;
      }
      &.card-reveal {
          overflow-y: scroll;
          h6 {
            color: $primaryColor;
          }
          p {
            color: $defaultColor;
            font-size: 14px;
            margin: 3px 0 3px 0!important;
          }
      }
    }
  }
}

.toggleRightSb{
  top: 50%;
  width: 150px;
  position: absolute;
  left: 0px;
  transform: rotate(270deg);
  -webkit-transform-origin: 0 109%;
}

.toggleLeftSb{
  top: 50%;
  width: 150px;
  position: absolute;
  right: 0px;
  transform: rotate(90deg);
  -webkit-transform-origin: 100% 109%;
}

.right-sb-content::-webkit-scrollbar, .left-sb-content::-webkit-scrollbar {
    width: 0 !important;
}
