//  TABLE OF CONTENTS

/*
1.  Text
2.  Background
3.  Header
*/

//1
$defaultColor: rgb(147, 147, 147) !default;

$primaryColor: rgb(22, 114, 180);
$secondaryColor: rgb(33, 150, 235);

$primaryColor-light: lighten($primaryColor, 15%);
$primaryColor-dark: darken($primaryColor, 15%);
$secondaryColor-light: lighten($secondaryColor, 15%);
$secondaryColor-dark: darken($secondaryColor, 15%);

$successColor: rgb(56, 177, 53);
$alertColor: rgb(172, 144, 59);
$errorColor: rgb(180, 48, 48);
$disabledColor: rgb(185, 185, 185);
$whiteColor: rgb(225, 225, 225);

$tinyIcon: 1.2em !important;

// 2
$defaultBgColor: rgb(255, 255, 255) !default;

$primaryBgColor: rgb(22, 114, 180);
$secondaryBgColor: rgb(33, 150, 235);

$primaryBgColor-light: lighten($primaryBgColor, 15%);
$secondaryBgColor-light: lighten($secondaryBgColor, 15%);

$succesBgColor: rgb(56, 177, 53);
$alertBgColor: rgb(172, 144, 59);
$errorBgColor: rgb(180, 48, 48);
$disabledBgColor: rgb(185, 185, 185);

$succesBgColor-light: lighten($succesBgColor, 15%);
$alertBgColor-light: lighten($alertBgColor, 15%);
$errorBgColor-light: lighten($errorBgColor, 15%);
$disabledBgColor-light: lighten($disabledBgColor, 15%);

//3
$headerBorderThickness: 3px;
$headerBgColor: #fff;
