<div id="footerWrapper">
  <div id="footer">
    <span id="dev">Developed by <strong><a href="https://twitter.com/_C4R15" target="_blank">@_C4R15</a></strong> and <strong><a href="https://twitter.com/Cj1mckay" target="_blank">@Cj1mckay</a></strong>.</span>
  </div>
</div>
