<html>
  <head>
    <title>LanPlan | Home</title>
    <% include partials/headers/defaultHeader %>
    <script src="public/javascripts/site/map.js"></script>
  </head>
  <body>
      <% include partials/headers/headingBar %>
      <!-- Main Body -->
      <% include partials/bodys/mainMap %>
      <!-- Footer -->
      <% include partials/headers/footer %>
    <script>
    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();
    });
    </script>
  </body>
</html>
