<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBaPAdkoZeLTO5AttyBl_1SJ3mj-Pa0xgs"></script>
<script type="text/javascript" src="../public/javascripts/maps/geolocation-marker.js"></script>
<script type="text/javascript" src="/javascripts/misc/socket.io.js"></script>
<script type="text/javascript" src="/javascripts/site/map.js"></script>
<br>
<br>

<div class="center testButtons">


</div>

<!-- Left -->
<div class="left-sb">
    <h6>LEGEND</h6>
    <a href="#" class="toggleLeftSb btn blue white-text">Legend</a>
</div>

<!-- Right -->
<div class="right-sb">
    <h6>PARTY INFORMATION</h6>

    <div class="right-sb-content">
      <div class="card card-partyinfo">
          <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src="/images/graphics/partymap-holder.PNG">
              <span class="activator card-title">[partyname]</span>
          </div>
          <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">[partyname]<i class="material-icons right">close</i></span>
              <h6>ADDRESS</h6>
              <p>[LINE 1 LOCKED]</p>
              <p>[LINE 2 LOCKED]</p>
              <p>[POST/ZIP CODE LOCKED]</p>
              <p>[city]</p>
              <h6>DATE / TIME</h6>
              <p>[date] / [time]</p>
              <h6>HOST</h6>
              <p><a href="">@[username]</a></p>
          </div>
          <div class="card-action">
              <a href="#">GO TO PARTY PAGE</a>
          </div>
      </div>

      <div class="card card-gameinfo">
          <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src="http://static.trustedreviews.com/94/00003790c/9d12/296e079a-568e-4c37-bb12-bb1cc731e0ab-34ZgP.jpg">
              <span class="activator card-title">[gamename]</span>
          </div>
          <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">[gamename]<i class="material-icons right">close</i></span>
              <h6>PARTY TYPE</h6>
              <p>[type]</p>
              <h6>PRIZE POOL</h6>
              <p>[pool(if applicable)]</p>
              <h6>PLAYERS</h6>
              <p>[x/y]</p>
              <p>[list of names and prof pics]</p>
          </div>
          <div class="card-action">
              <a href="#">GO TO OFFICIAL GAME SITE</a>
          </div>
      </div>

      <div class="card card-desc">
          <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src="https://pbs.twimg.com/media/Ca74zsMXEAAPkoO.png">
              <span class="activator card-title">Description</span>
          </div>
          <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">Description<i class="material-icons right">close</i></span>
              <h6>[custom subheader]</h6>
              <p>[...]</p>
              <h6>[custom subheader]</h6>
              <p>[...]</p>
              <h6>[custom subheader]</h6>
              <p>[...]</p>
          </div>
          <div class="card-action">
              <a href="#">GO TO ORGANISATION PAGE</a> <!-- link to lanturn prof if no page -->
          </div>
      </div>
    </div>

    <a href="#" class="toggleRightSb btn blue white-text">Party Info</a>
</div>

<img id="mapLoading" src="/images/graphics/maploading.gif">
<div id="mapCanvas"></div>
