<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBaPAdkoZeLTO5AttyBl_1SJ3mj-Pa0xgs"></script>
<script type="text/javascript" src="../public/javascripts/maps/geolocation-marker.js"></script>
<script type="text/javascript" src="/javascripts/misc/socket.io.js"></script>
<script type="text/javascript" src="/javascripts/site/map.js"></script>
<br>
<br>

<div class="center testButtons">


</div>

<!-- Left -->
{{>leftSb}}

<!-- Right -->
{{>rightSb}}

<img id="mapLoading" src="/images/graphics/maploading.gif">
<div id="mapCanvas"></div>
