<br>
<br>

<div class="center testButtons">
    <a href="#" class="toggleLeftSb btn blue white-text">Open Left Side Bar</a>
    <a href="#" class="toggleRightSb btn blue white-text">Open Right Side Bar</a>
</div>

<!-- Left -->
<div class="left-sb">
    <h6>LEGEND</h6>
</div>

<!-- Right -->
<div class="right-sb">
    <h6>PARTY INFORMATION</h6>
    <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="../public/images/graphics/partymap-holder.png">
            <span class="activator card-title">Party Name</span>
        </div>
        <div class="card-action">
            <a href="#">Go to party page</a>
        </div>
        <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
            <p>Here is some more information about this product that is only revealed once clicked on.</p>
        </div>
    </div>
</div>
