<br>
<br>

<div class="center testButtons">
    <a href="#" class="toggleLeftSb btn blue white-text">Open Left Side Bar
      <div class="leftSB">Left</div>
    </a>
    <a href="#" class="toggleRightSb btn blue white-text">Open Left Side Bar
      <div>Right</div>
    </a>

</div>
