<!DOCTYPE html>
<html>

<head>
    <title>Lanturn â˜ {{pagename}}</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="../public/materialize/materialize-src/css/materialize.css" media="screen,projection" />
    <link type="text/css" rel="stylesheet" href="../public/stylesheets/site/css/app.css" media="screen,projection" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="../public/materialize/materialize-src/js/bin/materialize.js"></script>
    <script type="text/javascript" src="../public/javascripts/materialize-init/init.js"></script>
    <script type="text/javascript" src="../public/sidebar/jillix-jQuery-sidebar-e5f8e63/src/jquery.sidebar.min.js"></script>
    <script type="text/javascript" src="../public/javascripts/sidebar-init/init.js"></script>

    {{>header}} {{{body}}}
</body>

</html>
