<div class="container-login">
    <div class="center">
        <h4>Login</h4>
        <br>
        <div class="row">
            <div class="input-field col s12">
                <input id="email" type="email" class="validate">
                <label for="email">Email</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input id="password" type="password" class="validate">
                <label for="password">Password</label>
            </div>
        </div>
        <br>
        <br>
        <a class="btn blue waves-effect waves-dark" href="" style="width: 70%">Login</a>
        <br>
        <br>
        <span><a class="btn-flat" href="">Forgotten password?</a><a class="btn-flat" href="">Forgotten password?</a></span>
    </div>
</div>
