<div class="signupFormContainer">
        <form action="" method="post">
          <div id="inputs">
            <h3>Sign Up To LanPlan</h3>
            <input for="username" type="text" class="form-control" name="usr" placeholder="Username" required>
            <br>
            <input for="email" type="text" class="form-control" name="email" placeholder="Email" required>
            <br>
            <input for="full name" type="text" class="form-control" name="name" placeholder="Full Name" required>
            <br>
            <input for="location" type="text"  class="form-control" name="loc" placeholder="Location (Country,City)" required>
            <br>
            <input for="password" type="password" class="form-control" name="psw" placeholder="Password" required>
            <br>
            <br>
            <input type="submit" class="form-control">
          </div>
        </form>
  </div>
