<div class="signupFormContainer">
        <form id="signUpForm" action="" method="post">
          <div id="inputs">
            <h3>Sign Up To LanPlan</h3>
            <input for="username" type="text" class="form-control" name="usr" placeholder="Username" required>
            <br>
            <input for="email" type="text" class="form-control" name="email" placeholder="Email" required>
            <br>
            <input for="full name" type="text" class="form-control" name="name" placeholder="Full Name" required>
            <br>
            <input for="location" type="text"  class="form-control" name="loc" placeholder="Location (Country,City)" required>
            <br>
            <input id="password" for="password" type="password" class="form-control" name="psw" placeholder="Password" required>
            <br>
            <input id="conf_password" for="confirm_password" type="password" class="form-control" name="conf_psw" placeholder="Confirm Password" required>
            <br>
            <br>
            <button onclick="validateForm();" type="button" class="form-control">Submit</button>
            <input id="submiter" type="submit" class="form-control" style="display:none;">
          </div>
        </form>
  </div>
