<% if(error && error != "Success" && error != ""){ %>
  <div class="alert alert-danger logInFormContainer">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong>Login Failed!</strong> <%= error %>
  </div>
<% } %>
