<% if(error && error != "Success" && error != ""){ %>
  <div class="alert alert-danger formContainer">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong>Party Creation Failed!</strong> <%= error %>
  </div>
<% }else if(error == "Success"){ %>
  <div class="alert alert-success formContainer">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong>Party Creation Successful!</strong>
  </div>
<% } %>
