<% if(error && error == "Success"){ %>
  <div class="alert alert-success logInFormContainer">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong>Signup Successful!</strong> Please check your email to verify your email before logging in.
  </div>
<% } %>
